.navbar-default {
    border: 0;
    border-bottom: 1px solid #000;
}
.navbar {
    background-color: transparent;
    color: #000;
    margin-bottom: 15px;
    padding-top: 15px;
}
.navbar-default {
  .navbar-brand {
    color: #000;
    &:hover {
      color: #aaa;
    }
  }
  .navbar-nav > li > a {
    color: #000;
    &:hover, &:focus {
      color: #aaa;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: #000;
    &:hover, &:focus {
      background-color: transparent;
      color: #aaa;
    }
  }
  .navbar-brand {
    color: #000;
    &:hover, &:focus {
      color: #000;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000;
    text-align: center;
    &:hover, &:focus {
      color: #aaa;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

footer {
  width: 100%;
  background-color: #ffffff;
  padding: 20px 0 10px 0;
  margin: auto;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #333;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

a {
  color: #333;
}

#error_explanation ul {
  list-style-type: none;
  padding-left: 0;
}

.image-logo {
  padding: 10px 0px 10px 20px;
}

.text-logo {
  padding-left: 16px;
  padding-top: 16px;
}

.wrapper {
  margin-bottom: 30px;
  padding: 20px 20px 20px 35px;
  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}
input[type="submit"].btn-block{
  margin: 15px 0;
}

.container{
  padding-bottom: 85px;
}

.field i {
  font-size: 12px;
}

.index-profile-image img {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
  border-radius: 50%;
  margin-right: 6px;
}

.registration-profile-image img {
  max-width: 128px;
  max-height: 128px;
  width:auto;
  height: auto;
  border-radius: 50%;
}
